

  <div class="flex flex-wrap bg-body-secondary gap-2">
    <h2 class="display-4 mb-1 p-4" style="margin-left: 3rem;">Projects</h2>
    <div class="p-4">
      <p-card styleClass="flex-grow-1" [style]="{ width: '20rem', position: 'relative', overflow: 'hidden' }">
        <ng-template pTemplate="header">
          <img alt="Card" class="w-100" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
        </ng-template>
        <ng-template pTemplate="title"> Advanced Card </ng-template>
        <ng-template pTemplate="subtitle"> Card subtitle </ng-template>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-4 mt-1">
            <a href="https://github.com/AbdulZahidShaik" class="btn btn-outline-dark" target="_blank"><i class="fa-brands fa-github me-2"></i>Github</a>
          </div>
        </ng-template>
      </p-card>
    </div>
    <div class="p-4">
        <p-card styleClass="flex-grow-1" [style]="{ width: '20rem', position: 'relative', overflow: 'hidden' }">
          <ng-template pTemplate="header">
            <img alt="Card" class="w-100" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
          </ng-template>
          <ng-template pTemplate="title"> Advanced Card </ng-template>
          <ng-template pTemplate="subtitle"> Card subtitle </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
          </p>
          <ng-template pTemplate="footer">
            <div class="flex gap-4 mt-1">
                <a href="https://github.com/AbdulZahidShaik" class="btn btn-outline-dark" target="_blank"><i class="fa-brands fa-github me-2"></i>Github</a>
            </div>
          </ng-template>
        </p-card>
      </div>
      <div class="p-4">
        <p-card styleClass="flex-grow-1" [style]="{ width: '20rem', position: 'relative', overflow: 'hidden' }">
          <ng-template pTemplate="header">
            <img alt="Card" class="w-100" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
          </ng-template>
          <ng-template pTemplate="title"> Advanced Card </ng-template>
          <ng-template pTemplate="subtitle"> Card subtitle </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
          </p>
          <ng-template pTemplate="footer">
            <div class="flex gap-4 mt-1">
                <a href="https://github.com/AbdulZahidShaik" class="btn btn-outline-dark" target="_blank"><i class="fa-brands fa-github me-2"></i>Github</a>
            </div>
          </ng-template>
        </p-card>
      </div>
      <div class="p-4">
        <p-card styleClass="flex-grow-1" [style]="{ width: '20rem', position: 'relative', overflow: 'hidden' }">
          <ng-template pTemplate="header">
            <img alt="Card" class="w-100" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
          </ng-template>
          <ng-template pTemplate="title"> Advanced Card </ng-template>
          <ng-template pTemplate="subtitle"> Card subtitle </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
          </p>
          <ng-template pTemplate="footer">
            <div class="flex gap-4 mt-1">
                <a href="https://github.com/AbdulZahidShaik" class="btn btn-outline-dark" target="_blank"><i class="fa-brands fa-github me-2"></i>Github</a>
            </div>
          </ng-template>
        </p-card>
      </div>
      <div class="p-4">
        <p-card styleClass="flex-grow-1" [style]="{ width: '20rem', position: 'relative', overflow: 'hidden' }">
          <ng-template pTemplate="header">
            <img alt="Card" class="w-100" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
          </ng-template>
          <ng-template pTemplate="title"> Advanced Card </ng-template>
          <ng-template pTemplate="subtitle"> Card subtitle </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
          </p>
          <ng-template pTemplate="footer">
            <div class="flex gap-4 mt-1">
                <a href="https://github.com/AbdulZahidShaik" class="btn btn-outline-dark" target="_blank"><i class="fa-brands fa-github me-2"></i>Github</a>
            </div>
          </ng-template>
        </p-card>
      </div>
      <div class="p-4">
        <p-card styleClass="flex-grow-1" [style]="{ width: '20rem', position: 'relative', overflow: 'hidden' }">
          <ng-template pTemplate="header">
            <img alt="Card" class="w-100" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
          </ng-template>
          <ng-template pTemplate="title"> Advanced Card </ng-template>
          <ng-template pTemplate="subtitle"> Card subtitle </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
          </p>
          <ng-template pTemplate="footer">
            <div class="flex gap-4 mt-1">
                <a href="https://github.com/AbdulZahidShaik" class="btn btn-outline-dark" target="_blank"><i class="fa-brands fa-github me-2"></i>Github</a>
            </div>
          </ng-template>
        </p-card>
      </div>
      <div class="p-4">
        <p-card styleClass="flex-grow-1" [style]="{ width: '20rem', position: 'relative', overflow: 'hidden' }">
          <ng-template pTemplate="header">
            <img alt="Card" class="w-100" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
          </ng-template>
          <ng-template pTemplate="title"> Advanced Card </ng-template>
          <ng-template pTemplate="subtitle"> Card subtitle </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
          </p>
          <ng-template pTemplate="footer">
            <div class="flex gap-4 mt-1">
                <a href="https://github.com/AbdulZahidShaik" class="btn btn-outline-dark" target="_blank"><i class="fa-brands fa-github me-2"></i>Github</a>
            </div>
          </ng-template>
        </p-card>
      </div>
    
    
    
  </div>
  

  